<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="glava-levo">
        <a href="/">Domov</a>
        <a href="/o_meni">O meni</a>
        <a href="/moji_projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
    </div>

    <div class="naslov">
        <p>Kontakt</p>
    </div>

    <h2>Povezave:</h2>
    <a href="https://www.facebook.com/ziga.fende">
        <img src="http://seeklogo.com/images/F/facebook-logo-C64946D6D2-seeklogo.com.png" alt="fb">
    </a>
    <br>
    <a href="https://twitter.com/zfende">
        <img src="https://upload.wikimedia.org/wikipedia/en/archive/9/9f/20161107041729!Twitter_bird_logo_2012.svg" alt="tw">
    </a>

    <div class="noga-levo">
        <a href="/">Domov</a>
        <a href="/o_meni">O meni</a>
        <a href="/moji_projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
        <div class="noga-desno">
            <p>To stran ste obiskali: {{ datum_in_ura }}</p>
        </div>
    </div>

</body>
</html>