<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moji projekti</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="glava-levo">
        <a href="/">Domov</a>
        <a href="/o_meni">O meni</a>
        <a href="/moji_projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
    </div>

    <div class="naslov">
        <p>Moji projekti</p>
    </div>

    <h2>Oglej si jih na <a href="https://github.com/zfende?tab=repositories" target="_blank">Github-u</a></h2>

    <div class="noga-levo">
        <a href="/">Domov</a>
        <a href="/o_meni">O meni</a>
        <a href="/moji_projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
        <div class="noga-desno">
            <p>To stran ste obiskali: {{ datum_in_ura }}</p>
        </div>
    </div>

</body>
</html>